/******************************************************************************
 * This css file is specific to css that will control the styling of content.
 * i.e. colors, typography, sizes etc. All layout and styling css to be kept
 * separate.
 ******************************************************************************/
html{
 	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzU8xRs8dI8cuHuZMqs8g_XZMXXjgkQFZoUK9rHX-33wOuhJxZSQ) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 p{
 	color: blue;
 	font-size: 30px;
 	font-weight: 700;
    font-family: "Comic Sans MS", cursive, sans-serif;
 }

div{
 	color: blue;
 	text-align: center;
 	font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
 }

